body{
    margin: auto;
    max-width: 500px;
    text-align: center;
}
h2{
    font-size: 2em;
}
a, label{
    font-size: 1.5em;
}

a + a{
    margin-left: 8px;
}

.localhost, .iphost{
    display: grid;
    grid-template-columns: auto auto;
}